/* BASIC  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 1600px;
    min-width: 900px;
    margin: 0 auto;
}

/* COMMON */

.row::after {
    content: '';
    display: table;
    clear: both;
}

.col {
    float: left;
}

.col-right {
    float: right;
}

.list{
    list-style-type: none;
}

.inline-list li {
    display: inline-block;
    margin: 0 2em;
}

.inline-list-item{
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

.btn {
    text-decoration: none;
    background-color: #0061FF;
    color: white;
    padding: 0.4em;
}

/* NAV */

nav {
    padding: 1.5em;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1600px;
    min-width: 900px;
    margin: 0 auto;
    background-color: white;
}

