/* BASIC  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-width: 1350px;
}

a {
    text-decoration: none;
    color: inherit;
}

.normal_a {
    text-decoration: underline;
    color: #0061FF;
}

/* COMMON */

.underlined {
    text-decoration: underline;
}

.margin-auto {
    margin: 0 auto;
}

.margin-top-6 {
    margin-top: 6em;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}

.width-95 {
    width: 95%;
}

.width-100 {
    width: 100%;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

.col {
    float: left;
}

.col-right {
    float: right;
}

.list{
    list-style-type: none;
}

.inline-list li {
    display: inline-block;
    margin: 0 2em;
}

.inline-list-item{
    text-decoration: none;
    display: block;
    color: black;
}

.section-title {
    font-size: 2.5em;
}

.content-title {
    font-size: 2em;
    padding-bottom: 1em;
}

.content-paragraph {
    font-size: 1.1em;
    line-height: 2em;
    padding-bottom: 2em;
}

.float-3{
    width: calc(100% / 3 - 2em);
    margin: 2em 0; 
}

.float-3:nth-child(3n+2) {
    margin: 2em 3em;
}

.line-bottom::after {
    content: '';
    width: 20%;
    height: 1px;
    background-color: #D8D8DA;
    margin: 2em 0;
}

.btn {
    text-decoration: none;
    padding: 0.4em;
    text-align: center;
}

.btn.btn-blue {
    background-color: #0061FF;
    color: white;
}

.btn.btn-white {
    background-color: white;
    color: black;
}

ul.description {
    list-style-type: none;
}

ul.description li {
    padding: 0.7em 0;
}

ul.description i {
    width: 10%;
    line-height: 1.5em;
}

ul.description span {
    width: 90%;
    line-height: 1.5em;
}


/* NAV */


nav {
    position: fixed;
    z-index: 999;
    top: 0;
    height: 70px;
    min-width: 1350px;
    background-color: white;
    border-bottom: 1px solid #D8D8DA;
}

nav > * {
    height: 100%;
    line-height: 70px;
}

.logo {
    vertical-align: middle;
}

/* JUMBO */
.blue-jumbo {
    background-color: #B4D0E7;
}

.jumbo-content .jumbo-title {
    font-size: 4.7em;
    padding: 1.5em 0 0.5em;
}

.blue-jumbo .jumbo-left {
    width: 30%;
}

.jumbo-content .jumbo-paragraph{
    padding: 0 5em 3em 0;
    font-size: 0.9em;
}

.jumbo-content .jumbo-cancel{
    padding: 1.8em 2em 2em 0;
    font-size: 0.8em;
}

.jumbo-content .jumbo-button{
    padding: 0.5em 1em;
    font-size: 1.2em;
    display: inline-block;
}

.jumbo-content i {
    font-size: 3em;
}

.jumbo-right .jumbo-image {
    position: relative;
    bottom: -50px;
    right: 0;
}

/* MAIN */

#fatturazione {
    border: none;
}

#fatturazione > label:first-of-type {
    margin-right: 1em;
}

/* PLAN SECTION */
.price .price-title{
    margin-bottom: 1.5em;
}

.plan-type {
    font-size: 0.9em;
    border: 1px solid #D8D8DA;
}

.plan-type-col .plan-type {
    height: 1000px;
}

.plan-header {
    border-bottom: 1px solid #D8D8DA;
    padding: 1em;
    text-align: center;
}

.plan-main {
    padding-top: 1.5em;
}

.plan-main .plan-title {
    font-size: 1.6em;
}

.plan-main .plan-price {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.plan-main .plan-price-time {
    color: #959FA9;
    margin-bottom: 3em;
}

.plan-button {
    padding: 0.5em 2em;
    display: block;
}

.plan-main .description {
    margin-bottom: 2em;
}

.plan-main .buy-now{
    margin-top: 2em;
}

.plan-footer .plan-list-title {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.plan-footer i {
    color: #0061FF;
}

.plan-type-row {
    margin-bottom: 2em;
}

.plan-type-row .plan-description {
    margin: 2em 0;
}


/* PARTNER SECTION */

.partner {
    margin: 10em auto
}

.partner .partner-content {
    padding: 4em ;
}

.partner .partner-btn {
    border: 1px solid black;
}

/* TEAMS SECTION */

.teams .section-title {
    padding-right: 50%;
    margin-bottom: 0.5em;
}

.teams .teams-ico {
    margin-top: 3em;
}

.ico-square {
    height: 260px;
    width: 50%;
    position: relative;
}

.ico-square .ico-image {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

#designit {
    background-color: #A2D39B;
}

#asu {
    background-color: #61082B;
}

#uflorida {
    background-color: #0093CE;
}

#topps{
    background-color: #FF1C1C;
}

#wbrelif{
    background-color: #D5001F;
}

#hearst{
    background-color: #B4D0E7;
}

#lonelyp{
    background-color: #0D2481;
}

#clearc{
    background-color: #FFD830;
}

.team-description {
    background-color: #F5F5F5;
    height: calc(260px * 2);
    overflow-y: scroll;
    padding: 3em;
}

.team-description img {
    width: 10em;
    display: block;
}

.team-description p {
    margin-top: 3em;
    line-height: 1.5em;
}

.team-description h4 {
    font-weight: normal;
}

.line {
    width: 50px;
    height: 2px;
    background-color: #D8D8DA;
    margin: 2em 0;
}


/* SECTION CALL TO ACTION */

.call-action {
    background-color: #B4D0E7;
}

.call-action .row {
    padding: 6em 0;
}

.call-action .section-title {
    width: 50%;
}

.call-action .btn {
    border: none;
    padding: 0.5em 3em;
}

/* FAQ SECTION */

.faq {
    padding-bottom: 6em;
}

.faq .section-title {
    font-size: 2em;
    margin-bottom: 2em;
}

.faq ul {
    list-style-type: none;
}

.faq li {
    padding: 1.8em 3em 2em 0;
    border-top: 1px solid #D8D8DA;
    font-size: 0.9em;
}

.faq li:last-child {
    border-bottom: 1px solid #D8D8DA;
}

.faq i {
    font-size: 1.3em;
}


/* FOOTER */

footer {
    background-color: black;
    color: white;
}

.footer-main {
    padding: 4em 0;
}

.footer-main .footer-menu {
    margin-right: 3em;
    width: calc(100% / 5 - 3em);
}

.footer-menu ul {
    list-style-type: none;
}

.footer-menu h5 {
    font-size: 1.3em;
    margin: 0.8em 0;
}

.footer-menu a {
    font-size: 0.9em;
    display: block;
    margin: 0.5em 0;
}

footer hr {
    width: 10%;
}

footer .language {
    color: grey;
    font-size: 0.8em;
    padding: 2em 0;
}