/* BASIC  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    
    min-width: 1350px;
}

a {
    text-decoration: none;
    color: inherit;
}

.normal_a {
    text-decoration: underline;
    color: #0061FF;
}

/* COMMON */

.margin-auto {
    margin: 0 auto;
}

.width-60 {
    width: 60%;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}

.width-95 {
    width: 95%;
}

.width-100 {
    width: 100%;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

.col {
    float: left;
}

.col-right {
    float: right;
}

.list{
    list-style-type: none;
}

.inline-list li {
    display: inline-block;
    margin: 0 2em;
}

.inline-list-item{
    text-decoration: none;
    display: block;
    color: black;
}

.btn {
    text-decoration: none;
    padding: 0.4em;
    text-align: center;
}

.btn.btn-blue {
    background-color: #0061FF;
    color: white;
}

ul.description {
    list-style-type: none;
}

ul.description li {
    padding: 0.7em 0;
}

ul.description i {
    width: 10%;
    line-height: 1.5em;
}

ul.description span {
    width: 90%;
    line-height: 1.5em;
}


/* NAV */


nav {
    position: fixed;
    top: 0;
    height: 80px;
    min-width: 1350px;
    background-color: white;
}

nav > * {
    height: 100%;
    line-height: 80px;
}

.logo {
    vertical-align: middle;
}

/* JUMBO */
.jumbo {
    height: 100vh;
    margin-top: 3em;
}

.blue-jumbo {
    background-color: #B4D0E7;
    height: 80vh;
}

.jumbo-content .jumbo-title {
    font-size: 4.7em;
    padding: 1em 0 0.5em;
}

.blue-jumbo .jumbo-left {
    width: 30%;
}

.jumbo-content .jumbo-paragraph{
    padding: 0 5em 3em 0;
    font-size: 0.9em;
}

.jumbo-content .jumbo-cancel{
    padding: 1.8em 2em 2em 0;
    font-size: 0.8em;
}

.jumbo-content .jumbo-button{
    padding: 0.5em 1em;
    font-size: 1.2em;
}

.jumbo-content i {
    font-size: 3em;
}

/* MAIN */

#fatturazione {
    border: none;
}

#fatturazione > label:first-of-type {
    margin-right: 1em;
}

/* PLAN SECTION */
.price .price-title{
    font-size: 2.5em;
    margin-bottom: 1.5em;
}

.plan-type {
    font-size: 0.9em;
    border: 1px solid #D8D8DA;
}

.plan-type-col .plan-type{
    width: calc(100% / 3 - 2em);
    margin: 2em 0;
    height: 1000px;  
}

.plan-type-col .plan-type:nth-child(2) {
    margin: 2em 3em;
}

.plan-header {
    border-bottom: 1px solid #D8D8DA;
    padding: 1em;
    text-align: center;
}

.plan-main {
    padding-top: 1.5em;
}

.plan-main .plan-title {
    font-size: 1.6em;
}

.plan-main .plan-price {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.plan-main .plan-price-time {
    color: #959FA9;
    margin-bottom: 3em;
}

.plan-button {
    padding: 0.5em 2em;
    display: block;
}

.plan-main .description {
    margin-bottom: 2em;
}

.plan-main .buy-now{
    margin-top: 2em;
}

.plan-type-col .plan-main::after {
    content: '';
    width: 20%;
    height: 1px;
    background-color: #D8D8DA;
    margin: 2em 0;
}

.plan-footer .plan-list-title {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.plan-footer i {
    color: #0061FF;
}

.plan-type-row {
    margin-bottom: 2em;
}

.plan-type-row .plan-description {
    margin: 2em 0;
}